// Descriptive Colors
$dark-blue-font: #031B4E;
$black: #121212;
$white: #ffffff;
$blue: #0056bf;
$light-blue: #2979FF;
$red: #dc143c;
$green:#3AA337;
$green-dark:#389b35;
$gray: rgba(3, 27, 78, .5);
$font-gray: #95A2B5;
$light-gray: #f6f9fc;
$backgray-sidebar: #f3f5f9;
$border-color: #c3c9d7;
$error: rgb(220, 64, 64);

$font-blue-gray: #6d7693;
$text-color: #031B4E;
$gray-bg: #f3f4f8;
$dark-gray-bg: #dde1ec;
$color-divider: #e0e0e0;
$blue-bg: #f4f5f9;
$dark-blue-bg: #DDE9FF;
$hover-shadow: rgba(163, 176, 180, 0.226);
$disabled-bg: #e9eaeb;
$light-green: #3AA337;
$light-red: #dc143c;
$light-yellow: #FFC107;
$light-gray: #f6f9fc;
