<header class="header">
    <div class="options">
        <a class="option" routerLink="management/employees" routerLinkActive="active-link">
            <div class="button">
                <span class="button__lable">Empleados</span>
                <span class="fa fa-location-arrow button__icon"></span>
                <div class="border-bottom"></div>
            </div>
        </a>

        <a class="option" routerLink="management/roles" routerLinkActive="active-link">
            <div class="button">
                <span class="button__lable">Roles</span>
                <span class="fa fa-location-arrow button__icon"></span>
                <div class="border-bottom"></div>
            </div>
        </a>

        <a class="option" routerLink="management/products" routerLinkActive="active-link">
            <div class="button">
                <span class="button__lable">Productos</span>
                <span class="fa fa-location-arrow button__icon"></span>
                <div class="border-bottom"></div>
            </div>
        </a>

        <a class="option" routerLink="management/production" routerLinkActive="active-link">
            <div class="button">
                <span class="button__lable">Producción</span>
                <span class="fa fa-location-arrow button__icon"></span>
                <div class="border-bottom"></div>
            </div>
        </a>
    </div>
    <button class="btn btn__white small" (click)="logOut()">
        <span class="text">Cerrar sesión</span>
        <span class="name">{{_appService.user_data?.name}} {{_appService.user_data?.lastName}}</span>
    </button>
</header>