<header class="header">
    <div>
        <a class="button-container" routerLink="employees" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact: true}">
            <div class="button">
                <span>Promocionar</span>
                <div class="border-bottom"></div>
            </div>
        </a>
        <a class="button-container" routerLink="roles" routerLinkActive="active-link">
            <div class="button">
                <span>rendimiento</span>
                <div class="border-bottom"></div>
            </div>
        </a>
        <a class="button-container" routerLink="products" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact: true}">
            <div class="button">
                <span>Promocionar</span>
                <div class="border-bottom"></div>
            </div>
        </a>
        <a class="button-container" routerLink="production" routerLinkActive="active-link">
            <div class="button">
                <span>rendimiento</span>
                <div class="border-bottom"></div>
            </div>
        </a>
    </div>
</header>