<header class="header">
    <div class="options">
        <a class="option" routerLink="/employees" routerLinkActive="active-link">
            <div class="button">
                <span class="button__lable">Empleados</span>
                <span class="fa fa-location-arrow button__icon"></span>
                <div class="border-bottom"></div>
            </div>
        </a>

        <a class="option" routerLink="/roles" routerLinkActive="active-link">
            <div class="button">
                <span class="button__lable">Roles</span>
                <span class="fa fa-location-arrow button__icon"></span>
                <div class="border-bottom"></div>
            </div>
        </a>

        <a class="option" routerLink="/products" routerLinkActive="active-link">
            <div class="button">
                <span class="button__lable">Productos</span>
                <span class="fa fa-location-arrow button__icon"></span>
                <div class="border-bottom"></div>
            </div>
        </a>

        <a class="option" routerLink="/production" routerLinkActive="active-link">
            <div class="button">
                <span class="button__lable">Producción</span>
                <span class="fa fa-location-arrow button__icon"></span>
                <div class="border-bottom"></div>
            </div>
        </a>
    </div>

    <div>
        
    </div>
</header>